<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
  body{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);

  }
</style>
<title>Live IPL Scores</title>
<body>
  <div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Match VS</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0;i<data.length;i++){%>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=data[i]["name"]%></td>
            <td><%=data[i]["date"]%></td>
          </tr>
         <%};%> 
        </tbody>
      </table>
</div>
</body>


